<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Craft</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <a href="/crafts" class="btn btn-warning">Back to Tracker List Table</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
    <form action="/crafts/update" method="post" class="mx-auto col-7">
        <h2 class="text-center text-light">Edit {{deal.crafttype}}</h2><!-- There is no need for a for loop here, <just an element>.<needed variable> -->
            <input type="hidden" name="postedby_id" value="{{session['user_id']}}">
        {% with messages = get_flashed_messages(category_filter=['deal']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Wait a minute!!!  Please fill the form out again!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <input type="hidden" name="id" value={{deal.id}}> <!-- This is needed to make sure that the crafts.py can read the request.form ['id'] -->
        
        <div class="form-group">
            <label for="code">Flight Number/Code:</label>
            <input type="text" name="code" class="form-control" value = "{{deal.code}}">
            
        </div>
        <!--
        <div class="form-group">
            <label for="crafttype">Astrostellar Plane:</label>
            <input type="text" name="crafttype"  class="form-control" value = "{{deal.crafttype}}">
        </div>
        -->


        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description"  cols="45" rows="15" class="form-control">{{deal.description}}</textarea>
        </div>

        
        <p>Current Progress: {{deal.progress}}</p>
    
        <div>
            <label for="progress">What is the flight progress now? </label>
                <select name="progress" value = {{deal.progress}}>
                    <option value="-">-</option>
                    <option value="Ready to Board">Ready to Board</option>
                    <option value="Boarding">Boarding</option>
                    <option value="Last Call">Last Call</option>
                    <option value="Gate Closed">Gate Closed</option>
                    <option value="Departed from Gate">Departed from Gate</option>
                    <option value="Lift Off">Lift Off</option>
                    <option value="Stars">Stars</option>
                    <option value="Galaxies">Galaxies</option>
                    <option value="The Sun">The Sun</option>
                    <option value="Solar System Tour">Solar System Tour</option>
                    <option value="Trip to the Moon">Trip to the Moon</option>
                    <option value="Flying from the Moon Back to Earth">Flying from the Moon Back to Earth</option>
                    <option value="Dramatic Return to Earth">Dramatic Return to Earth</option>
                    <option value="Cruising">Cruising</option>
                    <option value="Final Descent">Final Descent</option>
                    <option value="Landing (or Landed)">Landing (or Landed)</option>
                    <option value="Arrived at Usual Gate">Arrived at Usual Gate </option>
                    <option value="Arrived at Different Gate">Arrived at Different Gate </option>
                    <option value="Arrived at a gate at Different Airport">Arrived at a gate at Different Airport </option>
                </select>
            </div>    
            <p>Current Status: {{deal.status}}</p>
            <div>
            <label for="status">Choose a Status:</label>
                <select name="status" value = {{deal.status}}>
                    <option value="-">-</option>
                    <option value="Early">Early</option>
                    <option value="On Time">On Time</option>
                    <option value="Delayed">Delayed</option>
                    <option value="Significantly Delayed">Significantly Delayed</option>
                    <option value="Delayed so much that the lunar month is over">Delayed so much that the lunar month is over</option>
                    <option value="Not operating at all this month">Not operating at all this month</option>
                    <option value="Cancelled">Cancelled</option>
                </select>        
            </div>    
        


        
            
            

        <input type="submit" value="Update" class="btn btn-info">

        
        
    </form>
</body>
</html>